<toaster-container toaster-options="{'close-button': true}"></toaster-container>
<div class="row">
  <div class="col-sm-12">

  <h4>Sign Up</h4>

  <form name="signUpForm" novalidate role="form" autocomplete="off" ng-submit="signUp(signUpForm.$valid)">

    <div class="row">
      <div class="col-md-6">

        <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
          <label>E-mail Address</label>
          <input type="email" name="email" ng-model="form.email" class="form-control" required />
          <div class="help-block" ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">The e-mail address is invalid!</div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
          <label>Password</label>
          <input type="password" name="password" ng-minlength="5" ng-model="form.password" class="form-control" required/>
          <p ng-show="signUpForm.password.$error.minlength" class="help-block">Too short. Minimum 5 characters.</p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">Sign Up</button>
        </div>

      </div>

      <div class="col-md-6">

        <div class="form-group" ng-class="{ 'has-error' : signUpForm.fullname.$invalid && !signUpForm.fullname.$pristine }">
          <label>Full Name</label>
          <input type="text" name="fullname" ng-minlength="3" ng-model="form.fullname" class="form-control" required />
          <p ng-show="signUpForm.fullname.$error.minlength" class="help-block">Full name is too short.</p>
        </div>


      </div>
    </div>

  </form>

</div>

</div>
