<toaster-container toaster-options="{'close-button': true}"></toaster-container>
<div class="row m-t">
  <div class="col-md-9">

    <h4>Dashboard</h4>
    <p>Here you can create projects, or manage your existing ones.</p>

  </div>

  <div class="col-md-3">

    <button ng-click="createProject()" class="btn btn-lg btn-primary pull-right"> <i class="glyphicon glyphicon-plus"></i> Add Project</button>

  </div>
</div>

<div class="row mt-3">

  <div class="col-sm-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Project Name</th>
          <th>Created At</th>
          <th>Total Spent Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, project) in user.projects">
          <th scope="row">{{key}}</th>
          <td>{{project.name}}</td>
          <td>{{project.created_at}}</td>
          <td>{{project.hours}}</td>
          <td><a ui-sref="myAccount.projects{id: project.id}"></a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<script type="text/ng-template" id="editProject.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      New Project
    </h3>
  </div>
  <div class="modal-body" id="modal-body">

    <form name="projectForm">

      <div class="form-group">

        <label>Project Name</label>
        <input class="form-control" name="projectname" placeholder="For example: Zoe's restaurant" ng-model="form.projectname" />

      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="closeThisDialog()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="submit()">Create</button>
  </div>
</script>
